@import "config";
@import "animation";
@import "cards";
@import "social";
@import "loader";
@import "bs";
@import "slides";
@import "print";

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


@font-face {
    font-family: Rajdhani-Regular;
    src: url(../fonts/Rajdhani-Regular.ttf) format("truetype")
}

@font-face {
    font-family: Rajdhani-Light;
    src: url(../fonts/Rajdhani-Light.ttf) format("truetype")
}

* {
    margin: 0;
    padding: 0;
    font-family: $font-main;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

html {
    width: 100%;
    height: 100%;

    body {
        scrollbar-face-color:#212121;
        scrollbar-track-color:#909090;

        width: 100%;
        height: 100%;
        font-size: 2em;
        line-height: 1.4;
    } 
}

body, html {
    height: 100%;
    min-height: 100%;
    background-color: $color-dark;
}

::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}

::-webkit-scrollbar-thumb {
    background: #212121;
}

::-webkit-scrollbar-track {
    background: #909090;
}

/* Remove text-shadow in selection highlight */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

:focus {
    outline: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: $color-dark;
    padding: 0.2em 0;
}

h2 {
    margin-top: 0;
}
section {
    /*    set the minimum width of the slides */
    min-width: 400px;
    opacity: 0;
}