/* Colorscheme: Mobile */

/* This scheme is not available for selection. It is used only for the mobile view of your resume/CV */

* { letter-spacing: 0!important; }

body {
	background: #fff none!important;
	margin: 0;
	padding: 30px;
	font-size: 1em;
}

#wrap {
	width: 100%;
	padding: 0;
	background-image: none;
}

#wrap, .titlecolumn { border: none!important; }

.section { width: 100%; }

.column, .largecolumn, .titlecolumn {
	float: none;
	clear: both;
	width: 100%!important;
	margin-left: 0;
}

.ruler {
	width: 100%;
	float: none;
	clear: both;
}

.myphoto { display: none; }

.employer { margin-bottom: 30px; }

.thumbs li { margin: 5px 20px 5px 0!important; }

.cvoptions { display: none!important; }